.btn{
	padding: 5px 8px;
	background: #f1ffcf;
	border-radius: 5px;
	box-shadow: 0px 0px 1px 1px rgba(234, 255, 255, 0.342);
	transition: 0.3s;
}
.btn:hover{
	background: #deff23;
	cursor: pointer;
	
}
.btn:active{
	background: #fffb00;
	color: white;
}
.btn:focus{
	background: #fffef8;
}

.selected{
	background: orange;
	color: white;
}