.container{
	width: 100%;
	gap: 2px;
	padding: 0px 5px;
	display: flex;
	height: 50px;
	justify-content: center;
	align-items: center;
	overflow-x: hidden;
}
.reservedSpace{
	width: 100%;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.enterActive {
	animation: 0.52s appear ease-in-out, 0.52s opacityin ease-in-out;
}

.exitActive {
	opacity: 1;
	animation: 0.52s dissappear ease-in-out, 0.52s opacityout ease-in-out;
}

@keyframes appear {
    from {
      transform: translateX(-100px);

    }
  
    to {
		transform: translateX(0px);

    }
  }

@keyframes dissappear {
    from {
		transform: translateX(0px);
    }
  
    to {
		transform: translateX(-100px);
    }
  }

  @keyframes opacityin {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  @keyframes opacityout {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
    }
  }