.container{
	margin-bottom: 30px;
	gap: 15px;
	display: flex;
	align-self: flex-start;
	flex-direction: column;
	flex-wrap: wrap;
}
.container div{
	/* max-width: 1050px; */
	gap: 5px;
	display: flex;
	flex-wrap: wrap;
}
.container div:nth-child(2n){
	background-color: #d2f383;
}
.container h3{
	padding-bottom: 7px;
}