@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;800&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	--bloodyRed: hsl(0deg 80% 50%);
	--color-blue: hsl(270deg 75% 60%);
	--brightGreen: rgb(117, 248, 65);
	--orange: #fdcd66;
}

body {
	background-color: rgb(250, 250, 250);
	position: relative;
	margin: 0;
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	/* font-family: "PT Sans", sans-serif; */
	/* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

button, li, input {
	transition: 0.4s;
}

button {
	background: #f1ffcf;
	border: 1px solid var(--orange);
	border-radius: 5px;
	white-space: nowrap;
}


.container {
	position: relative;
	width: 95%;
	margin: 0 auto;
	margin-top: 65px;

}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type=number] {
	-moz-appearance: textfield;
}

input, select, textarea {
	border: 1px solid rgb(192, 192, 192);
}

button:hover, input[type=submit]:hover {
	opacity: 0.6;
	cursor: pointer;
	background-color: rgba(0, 255, 0, 0.644);
	color: white;
}

input:focus {
	outline: 1px solid rgba(0, 255, 0, 0.644);
	border: 1px solid rgba(192, 192, 192, 0.911);
	-webkit-appearance: none;
}